<h2>Education</h2>
<div class="card">

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>B.E - CSE</h3>
                <img src="assets\KRCE.jpg" alt="Avatar" style="width:300px;height:200px;">
            </div>
            <div class="flip-card-back">
                <h3>K. Ramakrishnan college of Engineering (2018 - 2022)</h3>
                <p>CGPA : 8.06</p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>HSE</h3>
                <img src="assets/orchard-school.jpg" alt="Avatar" style="width:300px;height:200px;">
            </div>
            <div class="flip-card-back">
                <h3>Orchard Schools (2017 - 2018)</h3>
                <p>Percentage : 85. 25%6</p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>SSLC</h3>
                <img src="assets/periyar-school.jpg" alt="Avatar" style="width:300px;height:200px;">
            </div>
            <div class="flip-card-back">
                <h3>Periyar Memorial Matriculation Higher Secondary School (2015 - 2016)</h3>
                <p>Percentage : 91%</p>
            </div>
        </div>
    </div>
</div>