<div class="container">
    <h2>Professional Experience</h2>
    <ul>
        <li>Overall, 2 years of IT experience.</li>
        <li>Worked as a Developer and mainly focuses on the development of web applications using angular, focusing on enhancing UI and integrating APIs.</li>
        <li>Converting user stories and UI/UX Specs into real time web pages.</li>
        <li>Played a key role in identifying defects and facilitating prompt resolutions</li>
        <li>Experience in writing Jasmine karma testcase.</li>
        <li>Implemented feature and unit testing framework (karma) for multiple repositories, ensuring code quality and maintainability across various components.</li>
        <li>Effectively communicated with the team, management and user community to provide support and project deliverables</li>
        <li>Ability to learn new technologies, update skill set and Cross skilling in short span
            of time.</li>
    </ul>
</div>