<div class="container">
    <h2>Professional Experience</h2>
    <ul>
        <li>Overall, 2.6 years of IT experience.</li>
        <li>Designing, developing, and deploying scalable web applications using Angular for the frontend and Java Spring Boot for the backend.</li>
        <li>Converting user stories and UI/UX Specs into real time web pages.</li>
        <li>Developed and integrated RESTful APIs for CRUD operations, improving performance and scalability.</li>
        <li>Played a key role in identifying defects and facilitating prompt resolutions</li>
        <li>Performed unit testing using JUnit and Karma to ensure frontend and backend code reliability.</li>
        <li>Effectively communicated with the team, management and user community to provide support and project deliverables</li>
        <li>Ability to learn new technologies, update skill set and Cross skilling in short span
            of time.</li>
    </ul>
</div>