<div class="projects">
    <div class="header">
        <h2>My Projects</h2>
    </div>
    <div class="project1">
        <p class="project-header">1. Online Counter App</p>
        <p>Built with Angular, the counter app tracks user recitations.</p>
        <p>Includes detailed explanations and a counter for key phrases.</p>
        <p>Features an 'Other Recitations' component with 12 sections, each containing meaningful content.</p>
        <p>Showcases modular components, smooth routing and user-frienldy UI design</p>
        <h2>Sample image of my website</h2><img src="assets\counter-app-ss.png">
        <h3>The Link Of My Website is:- <a href="https://counter-app-five-nu.vercel.app/" target="_blank">Click
                Me</a></h3>
    </div><br><br>
    <div class="project1">
        <p class="project-header">2.Expense Tracker </p>
        <p><span>Add Family Member Page :</span> Start by adding family members to the app.</p>
        <p><span>Daily Expense Tracking :</span> daily expenses for each family member individually.</p>
        <p><span>Expense Visualization :</span> View expenses by family member through charts.</p>
        <p><span>CRUD Functionality :</span> Create, read, update, and delete family member and expense records.</p>

        <h2>Sample image of my website</h2><img src="assets\expense-tracker-ss.png">
        <h3>The Link Of My Website is:- <a href="https://expense-tracker-ammar.vercel.app/" target="_blank">Click
                Me</a></h3>
    </div><br><br>

</div>